RewriteEngine On

# Add expire headers (prevents hotlinking)
<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|swf)$">
	Header set Expires "access plus 1 day"
</FilesMatch>

# Remove .php from filenames
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]